.post-button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
#post-button {
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.post-header {
    font-size: 30px;
}

.post-content {
    font-size: 20px;
}

.post-container {
    padding-bottom: 30px;
}
