<mat-tab-group color="accent">
  <mat-tab label="Posts">
    <mat-card>
      <h3>A post title 1</h3>
      <button mat-raised-button color="accent">View</button>
    </mat-card>
    <mat-card>
      <h3>A post title 2</h3>
      <button mat-raised-button color="accent">View</button>
    </mat-card>
    <mat-card>
      <h3>A post title 3</h3>
      <button mat-raised-button color="accent">View</button>
    </mat-card>
  </mat-tab>
  <mat-tab label="Comments"> Content 2 </mat-tab>
  <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>
