<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="login">Login</a>
      <a mat-list-item routerLink="register">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Forum</span>
      <span class="spacer"></span>
      <!-- Will show when not in mobile mode -->
      <ng-template [ngIf]="!(isHandset$ | async)">
        <ng-template [ngIf]="(isUserLoggedIn | async)">
          <a mat-button>Create Post</a>
          <a mat-button>Profile</a>
          <a mat-button>Login</a>
          <a mat-button>Register</a>
        </ng-template>
        <ng-template [ngIf]="!(isUserLoggedIn | async)">
          <a mat-button routerLink="/login">Login</a>
          <a mat-button>Register</a>
        </ng-template>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
