<!-- <div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title">
      <a class="card-link" href="/post/{{ post.id }}">{{ post.title }}</a>
    </h3>
    <h6 class="card-subtitle mb-2 text-muted">This post's user is</h6>
    <p class="card-text">This posts id is {{ post.id }}</p>
    <span class="oi oi-thumb-up mr-2"> 999</span>
    <span class="oi oi-thumb-down mr-2"> 999</span>
    <span *ngIf="comments" class="oi oi-comment-square mr-2">
      {{ comments.length }}</span
    >
    <span *ngIf="!comments" class="oi oi-comment-square mr-2"> ?</span>
  </div>
</div> -->

<mat-card style="margin-bottom: 10px">
  <mat-card-header>
    <img mat-card-avatar src="https://via.placeholder.com/150" />
    <mat-card-title
      ><a routerLink="/post/{{ post.id }}">{{ post.title }}</a></mat-card-title
    >
    <mat-card-subtitle *ngIf="post.user">{{
      post.user.username
    }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!post.user">User not included</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="post.text !== null; else loremText">
      {{ post.text }}
    </p>
    <ng-template #loremText>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore debitis
        deleniti nemo corporis ad, nam, atque odio sapiente hic, possimus
        nesciunt magnam. Aliquid deserunt, sequi at voluptatum sapiente soluta
        illo!
      </p>
    </ng-template>
  </mat-card-content>
  <!-- Like and comment counts -->
  <mat-card-subtitle *ngIf="likes && comments"
    >{{ likes.length || 0 }} Likes -
    <span>{{ comments.length || 0 }} Comments</span></mat-card-subtitle
  >
</mat-card>
